<?xml version="1.0" encoding="UTF-8"?>
<beans
 xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <bean class="com.Springcore.Student" name="student1">
 <property name="studentRoll">
 <value>40</value>
 </property>
 
 <property name="studentName">
 <value>Tanmay Kumar</value>
 </property>
 
 <property name="studentAddress">
 <value>Patna</value>
 </property>
 
 </bean>
 
 
 </beans>